.Home {
    width: '100%';
}

.container {
    height: 250pt;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background {
    width: 100%;
    height: 125pt;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.containerItem {
    widows: '100%';
    padding-top: 20px;
}

.backgroundNewProduct {
    width: '100%';
    padding-left: 5px;
    height: 35;
    background-image: linear-gradient(to right, red 2%,white);
}

.backgroundProduct {
    width: '100%';
    padding-left: 5px;
    height: 35;
    background-image: linear-gradient(to right, rgb(98, 212, 227) 2%,white);
}

.borderItem {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(224, 223, 219);
    text-align: center;
    height: '100%';
}

.btnAdd2Card {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.containerModal{
    background-color: #00000050;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    left: 0 
}