.containerSmallImg {
    display: 'flex';
    height: 80px;
    justify-content: 'center';
    margin-left: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #e7d9d9;
}

.containerSmallImgPicked {
    display: 'flex';
    height: 80px;
    justify-content: 'center';
    margin-left: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #a6c5f3;
}

.txtDetail {
    color: black;
    margin-top: 10px;
}

.otherProduct {
    display: 'flex';
    flex:1;
    height: 90px;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    margin-left: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #e7d9d9;
}